<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
        <link rel="icon" type="image/png" href="http://localhost:80/static/favicon.png" />
        <title><%= title %></title>
    </head>
    <body>
        <pre>Welcome To NodeIgniter!
This is just a blank page that exists in order to verify that everything is working without error.
        </pre>
    </body>
</html>